<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" href="/favicon.png" type="image/png">
  <title>Home</title>
</head>

<body class="<%= theme %>">
  <div class="container">
    <h1>App Express & MongoDB Atlas</h1>

    <% if (user) { %>
      <form action="/logout" method="get">
        <button type="submit">Logout</button>
      </form>
      <% } else { %>
        <button class="authLink" onclick="location.href='/login'">Login</button>
        <button class="authLink" onclick="location.href='/register'">Register</button>
        <% } %>

          <ul>
            <li><a href="/users">Users</a></li>
            <li><a href="/posts">Posts</a></li>
          </ul>
          <form id="themeForm">
            <label for="theme">Choose theme:</label>
            <select name="theme" id="theme">
              <option value="light" <%=theme==='light' ? 'selected' : '' %>>Light</option>
              <option value="dark" <%=theme==='dark' ? 'selected' : '' %>>Dark</option>
            </select>
          </form>
  </div>

  <script src="/js/theme.js"></script>
</body>

</html>