<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="icon" href="/favicon.png" type="image/png">
  <title>Login</title>
</head>

<body class="<%= theme %>">
  <div class="container">
    <h1>Login</h1>
    <% if (error_messages.length> 0) { %>
      <ul  style="color: red;">
        <% error_messages.forEach(function(error) { %>
          <li>
            <%= error %>
          </li>
          <% }) %>
      </ul>
      <% } %>
        <form action="/login" method="post">
          <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Enter email..." required>
          </div>
          <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter password..." required>
          </div>
          <button type="submit">Login</button>
        </form>
        <button onclick="goBack()">back</button>
  </div>
  <script>
    function goBack() {
      window.history.back();
    }
  </script>
</body>

</html>