doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    link(rel="icon", href="/favicon.png", type="image/png")
    title Users
  body(class=theme)
    .container
      h1 App Express & Pug
      h2 Users
      div
        a(href="/users/stats" class="authLink")
         button Users Stats
      ul
        each user in users
          li
            a(href=`/users/${user._id}`) #{user.username}
      button(onclick="goBack()") back
    script.
      function goBack() {
        window.history.back();
      }